$color-pink-light: #FBE2E9;
$color-lila: #89759A;
$color-purple-light: #AC889F;
$color-magenta: #FF004F;
$color-pink-extra-light: #E0C6E5;
$color-grey: #8c8c8c;


$font-primary: "Work Sans", sans-serif;